<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href=".css/cadastro.css">
</head>
<body>
    <div class="container">
        <div class="caixa-formulario">
            <h1>Cadastro</h1>
            <form action="/cadastro" method="post">
                <input type="text" placeholder="Nome completo" required>
                <input type="text" placeholder="Matrícula" required>
                <input type="text" placeholder="Turma" required>
                <input type="password" placeholder="Senha" required>
                <div class="termos-condicoes">
                    <input type="checkbox" id="termos" required>
                    <label for="termos">Eu concordo com os termos e condições</label>
                </div>
                <button type="submit">Cadastrar</button>
                <a href="#" class="link-login">Já possui cadastro?</a>
            </form>
        </div>
    </div>
</body>
</html>
